<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Recipe book</a>
  <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--<span class="navbar-toggler-icon"></span>-->
  <!--</button>-->
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/recipes">Recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/shopping-list">Shopping List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/awesome-practice">Awesome practice</a>
      </li>

      <!-- <li class="nav-item dropdown pull-right" appDropdown>
        <a class="nav-link dropdown-toggle" routerLink="/awesome-practice">Awesome practice</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/awesome-directive">Awesome directive</a>
          <a class="dropdown-item" routerLink="/awesome-services">Awesome services</a>
        </div>
      </li> -->
    </ul>
</nav>
