<div class="recipe-detail">
  <div class="row">
    <div class="col-xs-12">
      <img [src]="recipe.imagePath"
           alt="{{ recipe.name }}">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h1>{{ recipe.name }}</h1>
      <div class="btn-group" appDropdown>
        <button type="button" class="btn btn-info dropdown-toggle">
          Manage Recipe
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-item">
            <a (click)="onAddToShoppingList()">Add to shopping list</a>
          </li>
          <li class="dropdown-item">
            <a (click)="onEditRecipe()">Edit recipe</a>
          </li>
          <li class="dropdown-item">
            <a (click)="onDeleteRecipe()">Delete recipe</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      <hr>
      <p>{{ recipe.description }}</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li class="list-group-item"
            *ngFor="let ingredient of recipe.ingredients">
          <b>{{ ingredient.name }}</b> - {{ ingredient.amount }} {{ ingredient.measurement }}
        </li>
      </ul>
    </div>
  </div>  
</div>

