<div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3">
        <div *ngIf="loading">
            <app-loader></app-loader>
        </div>
        <form #authForm="ngForm" (ngSubmit)="onAuth(authForm)" *ngIf="!loading">
            <div class="from-group">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control"
                       ngModel name="email" required email>
            </div>
            <div class="from-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control"
                       ngModel name="password" required minlength="6">
            </div>
            <div class="actions">
                <button class="btn btn-primary"
                        [disabled]="!authForm.valid">{{ isLoggedIn ? 'Login' : 'Sign Up'}}</button>   
                <button type="button"
                        class="btn btn-outline-dark"
                        (click)="onSwithLoginSignUpMode()">
                    <span *ngIf="isLoggedIn">
                        Switch to Sign Up
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span *ngIf="!isLoggedIn">
                        <i class="fa fa-arrow-left"></i>
                        Switch to Login
                    </span>
                </button>
            </div>
        </form>
        <hr>
        <!-- <app-alert [message]="error" *ngIf="error" (close)="onhandleError()"></app-alert> -->
    </div>
</div>
<ng-template appPlaceholder></ng-template>