<h1>{{ title }}</h1>
<div class="local-navigation">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link"
               routerLinkActive="active"
               routerLink="directives">Directives</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                routerLinkActive="active"
                routerLink="services">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                routerLinkActive="active"
                routerLink="template-driven-forms">Test Driven Forms</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                routerLinkActive="active"
                routerLink="reactive-forms">Reactive Forms</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                routerLinkActive="active"
                routerLink="pipes">Pipes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                routerLinkActive="active"
                routerLink="http-example">http</a>
        </li>
    </ul>
</div>

<div style="margin-top: 15px;">
    <router-outlet></router-outlet>
</div>