<h2>{{ appTitle }}</h2>
<p class="lead">
  Here you can see the complete Angular application (Recipes book with shopping list) and the section with practice exercises from the Awesome Angular Udemy course. 
</p>
<dl class="row">
  <dt class="col-sm-3">Recipes</dt>
  <dd class="col-sm-9">Page with recipes list, where ou can view recipes details, edit recipe, delete recipe or add a new one. Aso you can add recipe ingredients to the shopping list.</dd>

  <dt class="col-sm-3">Shopping list</dt>
  <dd class="col-sm-9">
    <p>On a shopping list page you can see predefined list with ingredients to buy. You can add another ingredient manually, remove it or edit.</p>
  </dd>

  <dt class="col-sm-3">Authorization</dt>
  <dd class="col-sm-9">If you see an auth form and you dont't have an account, just switch to the sign up form and create one!</dd>

  <dt class="col-sm-3">Awesome practice</dt>
  <dd class="col-sm-9">On this page you'll see submenu with different practice examples, like directives, pipes, forms, services...</dd>
</dl>
