<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-success" [disabled]="!recipeForm.valid">Save</button>
      <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text"
                id="name"
                class="form-control"
                formControlName="name">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="imagePath">Image url</label>
        <input type="text"
                id="imagePath"
                class="form-control"
                formControlName="imagePath"
                #imagePath>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="imagePath.value">
    <div class="col-sm-12">
      <img [src]="imagePath.value"
           class="image-responsive"
           style="max-width: 100px;">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description"
                  id="description"
                  class="form-control"
                  rows="4"
                  formControlName="description"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" formArrayName="ingredients">
      <div class="row recipe-ingredient" *ngFor="let ingredient of recipeIngredients; let i = index" [formGroupName]="i">
        <div class="col-sm-4">
          <input type="text" class="form-control" formControlName="name">
        </div>
        <div class="col-sm-2">
          <input type="number" class="form-control" formControlName="amount">
        </div>
        <div class="col-sm-4">
          <select name="measurement" class="form-control" formControlName="measurement">
            <option *ngFor="let measure of ingredientMasurements" [ngValue]="measure.value">{{ measure.name }}</option>
          </select>
        </div>
        <button class="btn btn-danger" type="button" (click)="onDeleteIngredient(i)">X</button>
      </div>
      <div class="row">
        <button class="btn btn-primary" type="button" (click)="addIngredient()">Add Ingredient</button>
      </div> 
    </div>
  </div>
</form>

<div class="row">
  <div class="col-sm-12">
    <p *ngIf="!editMode">You are in the edit NEW mode</p>
  </div>
</div>
