<div class="container">
  <div class="row">
    <app-header (tabIsChanged)="onNavigate($event)"></app-header>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="activeTab == 'recipes'"></app-recipes>
      <app-shopping-list *ngIf="activeTab == 'shopping'"></app-shopping-list>
      <app-awesome-directive *ngIf="activeTab == 'awesome-directive'"></app-awesome-directive>
      <app-service-example *ngIf="activeTab == 'awesome-services'"></app-service-example>
    </div>
  </div>
</div>
