.basic {
    padding: 10px;
    border-radius: 5px;
    margin: 5px 10px;
    color: #ffffff;
    max-width: 200px;
    text-align: center;
    background-color: #ff635f;
}
.better {
    padding: 10px;
    border-radius: 5px;
    margin: 5px 10px;
    color: #ffffff;
    max-width: 200px;
    text-align: center;
    cursor: pointer;
}
button {
    margin: 5px 10px;
}